<h2>About Us</h2>

NoPro Sports is a non-profit venture that fosters networking among New York-based non-profits by organizing casual, coed sports leagues. We strive to create an atmosphere where players of all skill levels can have a great time playing.<br><br>

Why is NoPro Sports necessary? There are plenty of other intramural recreational sports leagues in New York City – why create another one? Here at NoPro HQ, [Conventiently Located near the Foosball Table at <a href="https://www.facebook.com/matchless"> Bar Matchless </a> ] we believe that we can contribute to the organizations that we work for and have fun doing it.<br><br>

NoPro builds off the existing connections between people and partner organizations and creates a network of new ones. You can make new friends and build new professional relationships all while spreading awareness for your cause. We design our leagues to be a platform for collaboration between like-minded organizations, creating opportunities to share experiences and increase the impact and scope of your organization’s activities. We strive to do all of this as affordably as possible for our member organizations.<br><br>

With these goals in mind the NoPro founders decided to strike out on our own. Strike out! Get it?....you get it.
<br><br><br>
Founders / League Managers
<br><br>



 Ben Roth: President<br>

Kevin Merritt: Vice President<br>

Zach Menchini: Board Member<br>

Ian Rinehart: CFO, Board Member<br>

Zach Zinn: CIO, Board Member<br>

Sam Zief: Board Member<br>
<br><br><br><br>
