
<pre>
  <code>


<a name="soccer"></a>
<br>
<br>
<br>
<h1>soccer</h1>
<br>
<p>
Rosters
 A team will field 5 players (4 and a goalie), at least 2 of which must be women.
 Teams can start play with only 1 woman but then will have to play down one man.

Gameplay
 (2) 18minute halves with a 2min intermission.
 Game time is kept by the Referee.
 No overtime during the regular season.
 10 goal mercy rule  play will continue but no team can have greater than a 10 goal differential.
 Unlimited amount of substitutions per game.

C. Playoffs
 It will be a seeded tournament, but the exact format will be determined one the final number of teams is set.
 Teams that do not make the playoffs are still invited to participate in the consolation bracket.
 Tiebreaker rules will follow…
1. Number of wins
2. Goal differential

D. Forfeits
 Teams will receive a forfeit loss of 50.
 Teams that miss two weeks of play will be removed from the season schedule and will forfeit their registration fees.

E. Uniforms & Equipment
 Uniforms are required and will be the responsibility of the team.  Feel free to get creative with you team names and colors!
 If a team player fails to wear the uniform for two weeks, the team will be deducted one point from their goal differential.
 Temporary uniforms (pinnies) will be available for rental.
 Balls and goals will be provided. Ball size TBD.
 Players are encouraged, but not required to wear shin guards.

F. Goalies
 Goalies can't touch the ball on a throw in or if their own player kicks them the ball.
 Goal kicks can be taken inside the penalty area.

G. Penalty Shots
 Penalty shots will be given after any tripping or handball call in the goal box.
 They do not have to touch another player prior to going in the goal.
 Shots may be attempted by the same gender of any member of the fouled team as long as they were on the field at the time of the foul.

H. Penalty Cards
 Verbal warning issued
 Yellow: player forced to sub out for 5 minutes
 Red: player ejected

I. Misc
 There are no offsides – indoor soccer is a game of positioning.
 A free kick is awarded if the Ref considers any act to be too aggressive and/or unsportsmanlike.
 Handballs are called at Ref’s discretion  accidental handballs will not be called as to not disturb the flow of the game.

J. Alcohol policy
 Alcohol is strictly prohibited on the premises of the gym.  Save it for the bar after the game!</p>
<br><br>

<a name="softball"></a>
<br>
<br>
<br>
<h1>softball</h1>
<br>

<p>

RULES
Updated 5/3/15

FORFEITS & GAME TIMING
Our starting times are tight due to the limited amount of sunlight.
In April, May, August, we will begin each game at 6:20 PM.
In June, July, we will begin each game at 6:30 PM.
Your team and your opponent depend on you to field a full team and have a competitive game.
A team with more than 2 forfeits will not be eligible for the playoffs.
If an umpire doesn’t show up, please contact the league managers immediately.  Until a solution is reached, the last batter to come up in each half inning will serve as umpire.
All games will be 9 innings, or when the umpire and at least 1 of the 2 captains agree it is too dark and no longer safe.
No extra innings in regular season games. They may end in a tie.

BALANCED SCHEDULE
We have 10 teams with 12 games each.  Each team will play all teams at least once, and 3 teams twice.
To improve the competitive balance of the league, the teams you'll play twice are based on the previous year's standings.  1st place team will face team the 2nd, 3rd, and 4th place teams twice. The 10th place team will face the 9th, 8th, and 7th place teams twice. Etc.

PLAYOFFS
All 10 teams will be making a singleelimination playoff tournament.
Regular season record will determine playoff seeding.
Seeding tiebreakers:
1. Headtohead regular season record
2. Headtohead run differential
3. Coin toss

ROSTERS
Teams are allowed a maximum of 25 players on their roster.
If teams have players who can't commit to all the games, we encourage captains to register them as 'alternates' and charge them less than their fulltime players.  This is also a fair way to determine who gets the most playing time in playoffs games.  Better attendance in regular season is rewarded with more playing time in big games.
Captains need to email the league manager prior to the game for 'clearance' if they need a nonregistered player to avoid a forfeit.
Teams will be given a forfeit if it is determined that nonregistered player participated without 'clearance'.

UNIFORMS
All teams are will be required to wear team colors during gameplay.
For each player who fails to wear their team colors during gameplay, there will be 1out given to their team at the start of the game. (This will not apply to a team's first game.)

EQUIPMENT
No metal cleats.
Players must supply their own gloves and bats.
Team captains are responsible for bringing new balls to each game.  We use 12" Clincher Balls. They can be purchased at any Modell's, Paragon Sports near Union Square, or a few blocks from our fields at BQ Sports.
It will be the home team captain's responsibility to pickup/dropoff the bases. We have 2 sets of bases that will be stored in a locked gate behind the Turkey's Nest.

OFFENSE
Mercy rule of 20 runs after the 5th inning.  Free play may continue afterwards.
No more than 3 people of the same gender may bat in a row.
Everyone on the team bats in a consistent order through the entire game, regardless if they are playing the field in that specific inning.
No pinch hitters are allowed.  If someone is injured or has to leave, they will be skipped over in the batting order.
Batters start with a 00 count. There is no rule for a batter out on a fouled 3rd strike.
No bunting.
No intentional walking.
Modified arc pitching rules.  The ball must reach higher than batters head, but no higher than 12'.
Strikes are pitched balls that land in a box defined by the umpire behind home plate. This box is approximately 18'' from the corners of the plate, and exactly as wide as the plate.
When playing on Field #2, if a batted ball is hit and rolls underneath the distant iron fence along Driggs Avenue side, it is considered a home run.

DEFENSE & FEMALE REQUIREMENTS
Outfielders are not permitted to be within 25 feet or 10 "paces" of the grass/dirt line at any time. It's not fair to some of the nonpower hitters.
10 players on the field.  At least 4 must be female.
If a team is short on females, they can begin play, but they must follow the system below:

3 FEMALES
9 total fielders (6 male, 3 female), must have a male catcher.
Maximum of 9 male players in the batting order.
Otherwise you will not be able to enforce the gender batting order rule: “no more than three people of the same gender may bat in a row.”

2 FEMALES
9 total fielders (6 male, 2 female, 1 catcher from the opposing team that can't cover home) must have a male pitcher.
This system is designed assuming that late female players are still planning on showing up and we do not want to delay the start of the game.
Anything less than 3 females by the top of the 3rd inning will result in a forfeit.  Free play may continue afterwards.
Otherwise you will not be able to enforce the gender batting order rule: “no more than three people of the same gender may bat in a row.”

BASE RUNNING
Courtesy runners are only allowed if a player is injured.
There is no stealing or leading off any base. Baserunners can only leave once the batter has made contact with the pitch.
Sliding is allowed at the runners discretion.  In some cases it can be safer to slide into a base than run upright into the defender.
Intentional contact by a baserunner in an attempt to dislodge the ball or take a defender out of a play is prohibited. The baserunner will be out.  Don’t plow the catcher over.

RAINOUTS
If the field is unplayable due to weather, we’ll send your captain a cancellation email at least 90 minutes before the start of a game, and post updates on our social media.

REFUND POLICY
All registration fees are final. When you register, we account for your place on evenly distributed teams and lock other interested parties out.</p>
<br>
<br>
<a name="basketball"></a>

<h1>basketball</h1>
<br>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
