
<h1> hi, <% if current_user %>
  <%= current_user.firstname.downcase %><%end%>
  welcome to noprosports.online</h1>
<h3>Casual, Co-ed Sports Leagues
Supporting New York Non-Profits</h3>
<br><br><br><br>
<div class="jumbotron">
  <h1>Fall Baskball Coming Soon</h1>
  <p>We're back for 2016...and we got a new gym!!<br><br>

- Two Full Bathrooms (Men's & Women's)<br>
- Individual Lockers for Storage<br>
- Full LED Scoreboard<br>
- Bleachers for spectators<br>
- Private Parking lot for those who drive<br><br>

Registration will be live 12/2/15.  More details coming soon.</p>
  <p><a href="basketball" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
