

<h3> hi, <% if current_user %>
  <%= current_user.firstname.downcase %><%end%>
  welcome to noprosports.online</h3>
<h5>Casual, Co-ed Sports Leagues
Supporting New York Non-Profits</h5>
<br><br><br><br>
<div class="jumbotron">
  <h3>Fall Baskball Coming Soon!</h3>
  <p><h4>We're back for 2016...and we got a new gym!!<br><br>
<ul>
  <li>Two Full Bathrooms</li>
 <li>Individual Lockers for Storage</li>
 <li>Full LED Scoreboard</li>
 <li>Bleachers for spectators</li>
 <li>Private Parking lot for those who drive</li>
</ul><br>

<h5>Registration will be live 12/2/15.  More details coming soon.</p>
  <p><a href="basketball" class="btn btn-default btn-md">Learn more</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
