

<h1> hi, <% if current_user %>
  <%= current_user.firstname.downcase %><%end%>
  welcome to noprosports.online</h1>
<h3>Casual, Co-ed Sports Leagues
Supporting New York Non-Profits</h3>
<br><br><br><br>
<div class="jumbotron">
  <h1>Fall Baskball Coming Soon!</h1>
  <p><h4>We're back for 2016...and we got a new gym!!<br><br>
<ul>
  <li><h5>Two Full Bathrooms</li>
 <li><h5>Individual Lockers for Storage</li>
 <li><h5>Full LED Scoreboard</li>
 <li><h5>Bleachers for spectators</li>
 <li><h5>Private Parking lot for those who drive</li>
</ul><br>

<h5>Registration will be live 12/2/15.  More details coming soon.</p>
  <p><a href="basketball" class="btn btn-default btn-lg">Learn more</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
