<div class="well navbar-fixed-bottom">
  <div class="container ">
    <div class="text-justify">
  NoPro Sports is a Not-For-Profit Organization, 501(c)3 pending.<br>
  NoPro Sports | Brooklyn, NY | e: info@noprosports.org | © 2015
 </div></div>
 </div>
