<div class="well">
  <div class="container ">
    <div class="navbar-left">
      <a href="http://www.facebook.com/noprosports"><img class="footer-icons" src="/images/icons/fb.png"></a>
      <a href="mailto:info@noprosports.org"><img class="footer-icons" src="/images/icons/gm.png"></a>
      <a href="https://www.instagram.com/noprosports/"><img class="footer-icons" src="/images/icons/ig.png"></a>
      <a href="/"><img class="footer-icons" src="/favicon.ico"></a>
</div>
  <form class="navbar-form navbar-right" role="search">
       <div class="form-group">
   <input type="text" class="form-control" placeholder="Sign up for our newsletter">
       </div>
       <button type="submit" class="btn btn-default">SEND</button>
     </form>
 </div>
 </div>
