<div class="well">
  <div class="container">
    <footer>
      <a href="http://www.facebook.com/noprosports"><img class="footer-icons" src="/images/icons/fb.png"></a>
      <a href="mailto:info@noprosports.org"><img class="footer-icons" src="/images/icons/gm.png"></a>
      <a href="https://www.instagram.com/noprosports/"><img class="footer-icons" src="/images/icons/ig.png"></a>
      <a href="/"><img class="footer-icons" src="/favicon.ico"></a>
</footer>

 </div>

 </div>
<br>
